body {
    background-color: rgb(59, 79, 124);
}


.form-contain{

    background-color: #f8f9fa;
    padding: 60px;
    box-shadow: 0px 5px 15px 5px;
    width: 50%;
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30%;
    position: relative;
    
}

.form-group {
    margin-top: 0rem;
}

.form-control{

    border: 1px solid #273440;
}

.register {
    font-size:18px;
    color:#fff;
    background:#3786bd;
    border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    width:180px;
    box-shadow:0 5px 15px 0 rgba(0,0,0,.2);
    -o-box-shadow:0 5px 15px 0 rgba(0,0,0,.2);
    -ms-box-shadow:0 5px 15px 0 rgba(0,0,0,.2);
    -moz-box-shadow:0 5px 15px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:0 5px 15px 0 rgba(0,0,0,.2);
    border:none;
    margin:19px 0 40px;
    cursor:pointer
   }



svg {
    position:absolute;
left:43%;
    } 
